@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700&subset=cyrillic,cyrillic-ext');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=cyrillic-ext,latin);

body {
    background-color: #fbfbfb;
    font-size: 13px;
    font-family: "Open Sans", "Nimbus Sans L", sans-serif;
    color: #333333;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#app {
    margin-bottom: 50px;
    flex: 1 !important;
}

#main {
    font-family: 'Ubuntu', sans-serif;
    background-color: #0678be;
    padding-bottom: 5px;
    box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
}

#main-menu {
    float: right;
}

.header-categories {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    font-size: 22px;
    color: #bce3fa;
    margin-right: 75px;
}

.header-menu {
    font-size: 40px;
    color: #ffffff;
    float: right;
}

.header-menu ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}
.header-menu a {
    color: #bce3fa;
    margin-left: 15px;
}

.header-menu a:hover {
    color: #fff;
    margin-left: 15px;
}

#blog-info {
    background-image: url("../img/logo.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
    padding-left: 60px;
    height: 70px;
}

.blog-name {
    margin-top: 15px;
    width: 170px;
    text-align: center;

}

.blog-name a {
    color: #ffffff;
    font-size: 32px;
}

.blog-slogan {
    width: 170px;
    text-align: center;
}

.blog-slogan span {
    font-size: 16px;
    padding: 0 5px;
    color: #bce3fa;
}

.primary {
    float: right;
    margin-top: 25px;
}

.primary li {
    float: left;
    margin-left: 15px;
}

.primary li a {
    background-color: #9fa6ad;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-style: normal;
    line-height: 1;
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
}

.primary li a.active {
    background-color: #f69c55;
    color: #ffffff;
}

.primary li a:hover {
      background-color: #0099da;
}

.primary li a.active:hover {
    background-color: #f69c55;
}

.primary li a.active:hover {
    color: #ffffff;
}

#sub-menu {
    background-color: #bce3fa;
    color: #0678be;
}

#sub-menu li a {
    color: #0678be;
    font-weight: 700;
    text-transform: uppercase;
}

#sub-menu li a:hover {
    border-bottom: 3px solid #0099da;
}

#sub-menu li a.active {
    border-bottom: 3px solid #0678be;
}

#main-content {
    padding-top: 25px;

}

.secondary li {
    float: left;
    display: inline-block;
    padding: 15px;
}

.output-switcher i {
    background-color: #ffffff;
    color: #0678be;
    font-size: 1.5em;
    height: 50px;
    margin-right: 15px;
    padding: 15px;
    vertical-align: middle;
}

/* All links */

a {
    text-decoration: none;
    color: #0099da;
}

a:hover {
    text-decoration: none;
}

.post-title a {
    color: #666;
}


/* Lists */

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

/* Posts */

.post {
    border: 1px solid #eaeeee;
    background-color: #ffffff;
    margin-bottom: 25px;
}

.review-content {
    padding: 15px;
}

.review-info {
    border-top: 1px solid #eaeeee;
    padding: 10px 15px;
}

.img-post {
    background-color: #eaeeee;
    border: 1px solid #eaeeee;
    margin: 0 auto 20px;
    padding: 5px;
}

/* Blocks */

.sidebar {
    margin-bottom: 25px;
}

.block {
    margin-bottom: 25px;
}

h4.block-title {
    color: #ffffff;
    display: inline;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0 0 -15px;
    padding: 5px;
}

.block-wraper {
    background-color: #ffffff;
    border: 1px solid #eaeeee;
    overflow: hidden;
    padding: 15px;
}

.block-content {
    margin-top: 15px;
}

footer {
    background-color: #333;
    border-top: 1px solid #555;
    color: #ccc;
    padding: 17px 0;
    margin-top: 50px;
}

/* Elements */

.btn-ar.btn-primary {
    background: #0099da linear-gradient(to bottom, #85c9f7 5%, #0099da 100%) repeat scroll 0 0;
    border: 1px solid #0099da;
    color: #fff;
}

/* Heading */

h4.post-title {
    margin-bottom: 10px;
    margin-top: 0;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0.3em;
}

/* Colors */

.orange {
    background-color: #f69c55;
}

.blue {
    background-color: #0099da;
}
